{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "jest": true,
    "browser": true
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "max-len": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}