{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "max-len": "off",
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off"
  }
}