.flex-table {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  min-width: 500px;
  table-layout: fixed;
}

.flex-table .flex-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em 24px;
  white-space: pre-wrap;
  word-break: keep-all;
  min-width: 0px;
  margin: auto;
}

.flex-table .flex-item.overflow {
  overflow-wrap: break-word;

}

.flex-table .flex-item.grow {
  flex-grow: 2;
}

.flex-table .flex-item.flex-expand {
  flex-basis: 100%;
}

.flex-table .flex-item.gradient {
  background: linear-gradient(to bottom, #e6e6e6 1%,#ffffff 20px);
  padding-top: 35px;
}

.flex-table .flex-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #d0d0d0;

  font-size: 100%;
  font-weight: 300;
}

.flex-table .flex-body-row:hover {
  background-color: lightyellow;
}
.flex-body-row:hover {
  background-color: lightyellow;
}

.flex-table .flex-hidden {
  display: none;
  opacity: 0;
}

.flex-table .overflow-hidden {
  overflow: hidden;
}

.flex-table table td {
  border: 0;
}

.flex-table .flex-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
  border-bottom: 1px solid #d0d0d0;
  font-size: 0.8rem;
  font-weight: 500;
}

.flex-table .noHover:hover {
  background-color: #fff;
}
